
.cloude-move {
    background: blue;
}
.cloude-move-rev {
    background-color: blue;
}
  
.cloude-move-ctl {
    background-color: blue;Í
}
.cloude-move-ctr {
    background-color: blue;
}
.cloude-move-ctt {
    background-color: blue;
}
.cloude-move-ctb {
    background-color: blue;
}
  