
.cloude-move {
    background: green;
}
.cloude-move-rev {
    background-color: green;
}
  
.cloude-move-ctl {
    background-color: green;
}
.cloude-move-ctr {
    background-color: green;
}
.cloude-move-ctt {
    background-color: green;
}
.cloude-move-ctb {
    background-color: green;
}
  