
.cloude-move {
    background: red;
}
.cloude-move-rev {
    background-color: red;
}
  
.cloude-move-ctl {
    background-color: red;
}
.cloude-move-ctr {
    background-color: red;
}
.cloude-move-ctt {
    background-color: red;
}
.cloude-move-ctb {
    background-color: red;
}
  